.header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  align-items: center;
}

h1 {
  color:white;
}

.header p {
  color: #6c8888;
}

.main {
  display: flex;
  height: calc(100vh - 40px);
}

.tools-and-frames {
  width: 15%;
  background-color: #1d1d1d;
}

.field-paint {
  width: 65%;
  background-color: #a0a0a0;
}

.animation {
  width: 20%;
  background-color: #1d1d1d;
}

.tool-field {
  width: 100px;
  height: 510px;
  margin-left: 1px;
  margin-top: calc((100vh - 530px) / 2);
  background-color: #a0a0a0;
}

.pencil-width {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pencil-width > div {
  height: 20px;
  width: 20px;
  border: 2px solid #444444;
  display: flex;
  background-color: #1d1d1d;
  justify-content: center;
  align-items: center;
}

.pencil-width > div:hover {
  border: 2px solid #a0a0a0;
}

.pencil-width > div:active {
  border: 2px solid #ffd700;
}

.small {
  height: 7px;
  width: 7px;
  background-color: white;
}

.medium-one {
  height: 9px;
  width: 9px;
  background-color: white;
}

.medium-two {
  height: 11px;
  width: 11px;
  background-color: white;
}

.big {
  height: 13px;
  width: 13px;
  background-color: white;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tools > div {
  height: 48px;
  width: 48px;
  background-color: #1d1d1d;
  margin: 1px;
}

.field-paint {
  display: flex;
  justify-content: center;
}

#canvas-basic {
  background-color: #555555;
  margin-top: 300px;
  height: 128px;
  width: 128px;
 Image-rendering:pixelated;
}

.first-current-color {
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  /* background-color: none; */
  z-index: 1;
}

.second-current-color {
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  /* background-color: none; */
  margin-left: 30px;
  margin-top: -20px;
}


