.header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  align-items: center;
}

h1 {
  color:white;
}

.header p {
  color: #6c8888;
}

.main {
  display: flex;
  height: calc(100vh - 40px);
}

.tools-and-frames {
  width: 15%;
  background-color: #1d1d1d;
  display: flex;
  justify-content: space-between;
}

.section-basic-canvas {
  width: 68%;
  background-color: #a0a0a0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-paint {
  position: absolute;
  height: 640px;
  width: 640px;
  background: url(/src/assets/img/background.png) repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-field-paint {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-background {
  background: url(/src/assets/img/background.png) repeat;
}

.animation {
  width: 17%;
  background-color: #1d1d1d;
}

.tool-field {
  width: 100px;
  height: 510px;
  margin-left: 1px;
  margin-top: calc((100vh - 530px) / 2);
  background-color: #a0a0a0;
}

.pencil-width {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper-width {
  height: 20px;
  width: 20px;
  border: 2px solid #444444;
  display: flex;
  background-color: #1d1d1d;
  justify-content: center;
  align-items: center;
}

.active, .wrapper-width:hover {
  border: 2px solid #ffd700;
}

.small {
  height: 7px;
  width: 7px;
  background-color: white;
}

.medium-one {
  height: 9px;
  width: 9px;
  background-color: white;
}

.medium-two {
  height: 11px;
  width: 11px;
  background-color: white;
}

.big {
  height: 13px;
  width: 13px;
  background-color: white;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tools > div {
  height: 48px;
  width: 48px;
  background-color: #1d1d1d;
  margin: 1px;
  display: flex;
  cursor: pointer;
}

.img-pen, .img-write, .img-paint, .img-eraser, .img-checkbox, .img-blank-circle, .img-hand, .img-pipette, .img-maximaze  {
  margin: auto auto;
}

#canvas-basic {
 Image-rendering:pixelated;
 position: absolute;

}

.first-current-color {
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  z-index: 1;
}

.second-current-color {
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  margin-left: 30px;
  margin-top: -20px;
}

.hightlight-border {
  border: 4px solid blue;
}

.add-frame {
  width: 120px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  padding-left: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.canvas-mini {
  width: 120px;
  height: 120px;
  margin: auto auto;
  background-color: white;
  Image-rendering:pixelated;
  background: url(/src/assets/img/background.png) repeat;
}

.canvas-wrapper {
  width: 120px;
  height: 120px;
  display: flex;
  position: relative;
  margin: 10px auto;
  border: 1px solid black;
  position: relative;
}

.counter {
  width: 20px;
  height: 20px;
  background: #cccccc;
  display: inline-block;
}

.menu-frame {
  justify-content: space-around;
  width: 170px;
}

.wrapper-field-animation {
  width: 200px;
  height: 200px;
  background-color: #cccccc;
  position: relative;
  margin: 0 auto;
}

.wrapper-canvas-animation {
  position: relative;
}

.canvas-animation {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  Image-rendering:pixelated;
  background: url(/src/assets/img/background.png) repeat;
}

.canvas-animation:fullscreen {
  background-color: white;
}

.buttom-animation {
  display: flex;
  justify-content: space-between;
}

input[type='text'] {
  width: 40px;
  /* margin-left: 50px; */
}

.icon-trash {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
}

.icon-docs {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
}

.icon-braille {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.counter{
  position: absolute;
  top: 0;
  left: 0;
}

.full-screen {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 35px;
  width: 35px;
 border: none;
 background-color: #1d1d1d;
 display: flex;
 cursor: pointer;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
}
.menu {
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 99;
  width: 15%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cccccc;
  transition: 0.5s;
  transform: translateX(100%);
}
.menu_active {
  transform: translateX(0%);
}
.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  flex-direction: column;
}
.menu-list a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}
.menu-btn {
  width: 50px;
  height: 50px;
  background-color: #333;
  position: absolute;
  right: 283px;
  top: 30%;
}

.information-canvas {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.size-canvas {
  color: yellow;
}



