ul {
  list-style: none;
  display: flex;
}

ul li {
  background-color: aqua;
  margin: 10px;
  height: 200px;
  width: 100px;
}

.input-field {
  border: 3px solid rgb(117, 117, 117);
  border-radius: 7px;
  width: 575px;
  vertical-align: middle;
  height: 28px;
  color: rgb(65, 65, 65);
  font-size: 16px;
  padding-left: 5px;
}

.btn-input-search {
  width: 65px;
  height: 28px;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(117, 117, 117);
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  transition: 0.6s;
  justify-content: center;
}

.box {
  max-width: 320px;
  height: auto;
  margin-right: 10px;
  border: 3px solid rgb(117, 117, 117);
  border-radius: 7px;
}

.box:last-child {
  margin-right: 0;
}

.video-img- {
  width: 100%;
}

.block-video-item-info {
  padding: 0 5px;
}

.title-info {
  font-size: 20px;
  color: black;
  min-height: 95px;
  cursor: pointer;
  margin: 5px 0;
}

.author-info {
  margin-bottom: 5px;
}

.view-count-info {
  margin-bottom: 5px;
}

.published-date-info {
  margin-bottom: 10px;
}

p.new-description-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

/* ANIMATION */
.-swipe-left {
  transform: translate(-100%);
  opacity: 0;
}

.-swipe-right {
  transform: translate(100%);
  opacity: 0;
}

.content-wrapper .-visible {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .form {
    width: 100%;
    max-width: 500px;
    margin: 0 10px;
  }
  .input-search {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .form {
    width: 100%;
    margin: 0 5px;
  }
  .input-search {
    width: 100%;
  }
}
