body {
  margin: 0 auto;
  font: 400 13px 'Verdana', 'Helvetica', sans-serif;
  background: rgb(185,246,231);
  background: radial-gradient(circle, rgba(185,246,231,1) 6%, rgba(250,251,251,1) 100%);
  /* background-image: url(../../assets/img/youtube.jpg); */
}

.wrapper {
  margin-top: 40px;
}

.input-field {
  border: 1px solid rgb(117, 117, 117);
  border-radius: 7px;
  width: 575px;
  vertical-align: middle;
  height: 28px;
  color: rgb(65, 65, 65);
  font-size: 16px;
  padding-left: 5px;
}

.input-field:focus {
  outline: 0;
  outline-offset: 0;
  background-color: #b9f6e7;
}

.btn-input-search {
  width: 65px;
  height: 28px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(117, 117, 117);
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
}

.btn-input-search:focus {
  outline: 0;
  outline-offset: 0;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  display: flex;
  margin-top: 30px;
  transition: 0.6s;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all 0.2s;
  transform: scale(1);
  will-change: transform;
  user-select: none;
  cursor: pointer;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.box {
  width: 320px;
  height: auto;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 7px;
  background: #fafbfb
}

.box:hover {
  background-color: #b9f6e7;
}

.content-wrapper.active {
  background: rgba(255,255,255,0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.video-img- {
  width: 90%;
}

.block-video-item-info {
  padding: 0 5px;
}

.title-info {
  font-size: 20px;
  color: black;
  min-height: 60px;
  cursor: pointer;
  margin: 5px 0;
  text-align: center;
}

.title-info:hover {
  text-decoration: underline;
}

.author-info {
  margin-bottom: 5px;
  text-align: center;
}

.video-img {
  margin-top: 10px;
}

.view-count-info {
  margin-bottom: 5px;
  text-align: center;
}

.published-date-info {
  margin-bottom: 10px;
  text-align: center;
}

.viewCountInfo {
  text-align: center;
}

p.new-description-info {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  text-align: justify;
  color: #575757;
  word-break: break-word;
  transition: color .7s;
}

.content-wrapper .-visible {
  opacity: 1;
}

.button-prev, .button-next {
  position: relative;
  display: inline-block;

  background: none;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;

  color: #eee;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .05em;
  margin: 1em;
}

.next, .prev {
  position: relative;
  z-index: 1;
  display: block;
  min-width: 1em;
  padding: 1em;
  border-radius: 2em;
  background-color: #40bb9d;
  border: 1px solid darken(#045c46, 5%);
  box-shadow: -5px 5px 10px rgba(0,0,0,0.2);
  transition: transform .1s, box-shadow .2s, background-color .2s;
}

.wrapper-button {
  width: 200px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .form {
    width: 100%;
    max-width: 500px;
    margin: 0 10px;
  }
  .input-search {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .form {
    width: 100%;
    margin: 0 5px;
  }
  .input-search {
    width: 100%;
  }
}


